body {
    background-color: yellow;
}

.container {
    text-align: center;
}

form {
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 50px;
    padding: 1% 3% 3%;
    margin-top: 5%;
    border: 3px solid blue;
}

#firstname,
#lastname,
#email,
#message {
    width: 85%;
}
#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
